extends layout

block head
  script(src='/static/js/main.js')

block content
  h1 Кубики

  div(class='row')
    div(class='col-md-6')
      div(class='well', id='score')
        table(class='table table-striped table-bordered table-condensed')
          thead
            tr
              td №
              td Игрок 1
              td Игрок 2
          tbody
            tr <td>1</td><td>&mdash;</td><td>35</td>
            tr <td>2</td><td>95</td><td>50</td>
            tr <td>3</td><td>200</td><td>&mdash;</td>

    div(class='col-md-6')
      div(class='well') sssss
        video(id='localVideo', autoplay=true)
        div(id='removeVideosEl')