extends layout

block head
  script.
    require(['main']);

block content
  h1 Кубики

  div(class='row')
    div(class='col-md-6')
      div(class='well', id='game')
        table(class='table table-striped table-bordered table-condensed', id='score')
          thead
            tr
              td №
              td Игрок 1
              td Игрок 2
          tbody
            tr <td>1</td><td>&mdash;</td><td>35</td>
            tr <td>2</td><td>95</td><td>50</td>
            tr <td>3</td><td>200</td><td>&mdash;</td>

    div(class='col-md-6')
      div(class='well')
          h3.text-center Видеосвязь
          div.well.well-sm
            video(id='localVideo', autoplay=true)
            div(id='removeVideosEl')
            | Видео будет позже
            br

          div(class='well well-sm')
            button.btn.btn-default#add_player Добавить игрока

          div(class='well well-sm')
            h2 Ходит
              span#player_name

            div(class='well well-sm clearfix', id='cubs')
              div#to_throw
                div.cub.pull-left#cub_1 1
                div.cub.pull-left#cub_2 1
                div.cub.pull-left#cub_3 1
                div.cub.pull-left#cub_4 1
                div.cub.pull-left#cub_5 1

            div(class='well well-sm clearfix', id='cubs')
              div#thrown

          div(class='well well-sm')
            div.btn-group
              button.btn.btn-default#throw_dice Бросать
              button.btn.btn-default#end_turn Закончить ход

