doctype html
html
  head
    title Игра кубики

    link(rel='stylesheet', href='/static/css/bootstrap.css')
    link(rel='stylesheet', href='/static/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/static/css/style.css')

    script(src='/static/js/jquery-2.0.3.js')
    script(src='/static/js/bootstrap.js')
    script(src='/static/js/simplewebrtc.js')

    block head
  body
    div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
      div(class='container')
        div(class='navbar-header')
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='.navbar-collapse')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand' href='#') Кубики

        div(class='collapse navbar-collapse')
          ul(class='nav navbar-nav')
            li(class='active')
              a(href='#') Home
            li
              a(href='#') About
            li
              a(href='#') Contact

    div(class='container')
      block content


