body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cub {
    text-align: center;
    display: block;
    width: 47px;
    height: 47px;
    background: #a349a4;
    padding: 5px;
    margin-left: 15px;
}

.cub-1 {
    background: url("../img/cubs.png") no-repeat 0 0;
}

.cub-2 {
    background: url("../img/cubs.png") -47px;
}

.cub-3 {
    background: url("../img/cubs.png") -94px;
}

.cub-4 {
    width: 48px;
    background: url("../img/cubs.png") -141px;
}

.cub-5 {
    width: 48px;
    background: url("../img/cubs.png") -189px;
}

.cub-6 {
    width: 48px;
    background: url("../img/cubs.png") -237px;
}

.cub:first-child {
    margin-left: 0;
}

.cub-place {
    height: 63px;
    background: #a349a4
}

.well-white {
    background: #ffffff;
}